<body>
    {{> header}}
    <main>
        {{> button}}

        <h1 class="title">
            спа для бровей и ресниц
        </h1>

        <div class="content">
            <button class="content__button">

                <div class="item">
                    <div class="item__button">
                        ЛАМИНИРОВАНИЕ РЕСНИЦ</div>
                    <p>+3х ступенчатый уход</p>

                </div>

                <div class="item">
                    <div class="item__button">ЛАМИНИРОВАНИЕ БРОВЕЙ</div>
                    <p>+3х ступенчатый уход</p>

                </div>

                <div class="item">
                    <div class="item__button">КОМБО</div>
                    <p>Оформление бровей
                        <br>+ окрашивание ресниц
                    </p>
                </div>


                <div class="item">
                    <div class="item__button">БРОВИ "ПОД КЛЮЧ"</div>
                    <p>Комплексный уход
                        <br>+ коррекция
                        <br>+ окрашивание
                    </p>
                </div>

                <div class="item">
                    <div class="item__button">НАНОПЛАСТИКА БРОВЕЙ</div>
                    <p>Ухаживающая процедура <br>для поврежденных бровей,
                        <br>улучшающая структуру волоска
                    </p>
                </div>


                <div class="item">
                    <div class="item__button">НАНОПЛАСТИКА РЕСНИЦ</div>
                    <p>Мощный уход за ресницами
                        <br>+ красивый завиток
                    </p>
                </div>
            </button>

            <button class="content__button-price">
                <div class="price1">2500</div>
                <div class="price2">2500</div>
                <div class="price3">1800</div>
                <div class="price4">1500</div>
                <div class="price5">3000</div>
                <div class="price6">3000</div>

            </button>
        </div>

    </main>
    {{> footer}}
</body>