<div>
    <a class="button bottom right" href="http://dikidi.net/754169" target="_blank">
        <div class="button__background"></div>
        <div class="button__wave" style="border-color: #C28B6F"></div>

        <div class="button__text">Онлайн запись</div>
    </a>
</div>