<body>
  {{> header}}

  <main class="main">

    {{> button}}
    <section class="section">
      <div class="build">

        <div class="build__content">
          <a href="/build-eyelashes" class="link" style="transform: translateY(600px)" target="_blank">
            <button class="build__button">
              <div class="build__button-text1">Наращивание ресниц<img src="/img/transition.png" width="20px"
                  height="32px" class="img">
              </div>
            </button></a>
        </div>

        <div class="build__content">
          <a href="/removal-eyelashes" class="link" style="transform: translateY(600px)" target="_blank">
            <button class="build__button">
              <div class="build__button-text2">Снятие ресниц<img src="/img/transition.png" width="20px" height="32px"
                  class="img">
              </div>
            </button></a>
        </div>

        <div class="build__content">
          <a href="/coloring-eyelashes" class="link" style="transform: translateY(600px)" target="_blank">
            <button class="build__button">
              <div class="build__button-text3">Окрашивание ресниц<img src="/img/transition.png" width="20px"
                  height="32px" class="img">
              </div>
            </button></a>
        </div>

        <div class="build__content">
          <a href="/spa-eyelashes" class="link" style="transform: translateY(600px)" target="_blank">
            <button class="build__button">
              <div class="build__button-text4">Спа для бровей и ресниц <img src="/img/transition.png" width="20px"
                  height="32px" class="img">
              </div>
            </button></a>
        </div>

      </div>
      </div>
    </section>
  </main>
  {{>footer}}
</body>