<main class='main'>
  <section class='section'>
    <form action='' class='form'>
      <div class='block'>
        <h1 class='block__title'>Наращивание ресниц</h1>
      </div>

      <div class='block__content'>
        <img src='/img/уголки.png' class='img' />
      </div>
    </form>
  </section>
</main>