{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<body>
  <header>
    <div class='header'>
      <div class='header__content'>

        <div class='header__link'>
          <a href='https://www.instagram.com/lbm_studio_simf/' class="image__link" target="_blank">
            <img src='/fav/image 12.png' class="icon__link" />
          </a>

          <a href='https://wa.me/79787097135/' text='Здравствуйте' class="image__link" target="_blank">
            <img src='/fav/image 11.png' class="icon__link" />
          </a>
        </div>

        <div>
          <img src='/img/ЗОЛОТО.png' class='header__logo' />
        </div>

        <div>
          <p class='header__description'>адрес</p>
          <p class='header__description'>телефон</p>
        </div>
      </div>

      <div class='block'>

        <h2 class='block__price'><a href='#price' style='color: rgb(47, 46, 46)' class="text">Цены</a></h2>

        <h2 class='block__info'><a href="#info" style="color: rgb(47, 46, 46)" class="text">О нас</a></h2>

        <h2 class='block__reviews'><a href="#reviews" style="color: rgb(47, 46, 46)" class="text">Отзывы</a></h2>

        <h2 class='block__contact'><a href="#contact" style="color: rgb(47, 46, 46)" class="text">Контакты</a></h2>

      </div>
    </div>

  </header>

  <main>
    <section class='form form-big form-img'>

      <form action='' class='method'>
        <div class='form__content'>
          <h1 class='form__title'><a href=" "></a>СТУДИЯ НАРАЩИВАНИЯ
            РЕСНИЦ
            <br />
            И
            <br />
            ОФОРМЛЕНИЯ БРОВЕЙ
          </h1>


          <div class='form__description'>
            <em>С ПРЕМИАЛЬНЫМ СЕРВИСОМ</em>
          </div>
        </div>
      </form>

    </section>

    <section class='service'>
      <div class='service__text'>
        <span class='service__title'>УСЛУГИ, КОТОРЫЕ МЫ
          ПРЕДОСТАВЛЯЕМ ГОСТЯМ</span>
      </div>
      <div class='service__content'>
        <div class='service__titles__eye'>
          <h2 class='service__eye' style="transform: translateY(600px)">РЕСНИЦЫ</h2>
        </div>

        <div class='service__title__brows '>
          <h2 class='service__brows' style="transform: translateY(600px)">БРОВИ</h2>
        </div>
      </div>
      </div>
    </section>

    <section class="system">
      <spam class="system__title">
        СИСТЕМА ЛОЯЛЬНОСТИ
      </spam>


      <div class="sale">
        <div class="sale__list">
          <div class="sale__list__content">
            <div class="list__title"><a class="">15%</a></div>

            <div class="list__text">
              <span>НА 6-Е ПОСЕЩЕНИЕ</span>
            </div>
          </div>

          <div class="sale__list__content">
            <div class="list__title">10%</div>

            <div class="list__text">
              <span>СКИДКА ИМЕНИННИКА</span>
            </div>
          </div>

          <div class="sale__list__content">
            <div class="list__title">30%</div>

            <div class="list__text">
              <span>ПО АКЦИИ "ЗНАКОМСТВО С МАСТЕРОМ"</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="info">
      <div class="info__block">
        <div class="info__card">
          <img src="/fav/image 6.png" class="icon">
          <div style="font-size: 20px">КОФЕ И ЧАЙ</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 9.png" class="icon">
          <div style="font-size: 20px">КРЕСЛО-РЕКЛАЙНЕР С ОТДЕЛЬНЫМ КАБИНЕТОМ</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 7.png" class="icon">
          <div style="font-size: 20px">ОРТОПЕДИЧЕСКИЕ МАТРАСЫ "ВОЛНА"</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 1.png" class="icon">
          <div style="font-size: 20px">СТЕРИЛЬНОСТЬ</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 8.png" class="icon">
          <div style="font-size: 20px; font-style: italic">ВЫГОДНАЯ СИСТЕМА ЛОЯЛЬНОСТИ</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 2.png" class="icon">
          <div style="font-size: 20px">ГАРАНТИЯ КАЧЕСТВА И РАБОТА НА РЕЗУЛЬТАТ</div>
        </div>
      </div>
    </section>

    <section class="supervisor">
      <div class="supervisor__card">
        <div class="supervisor__title ">text</div>
        <div class="supervisor__pic">
          <img src="/img/image-07-09-23-05-10.png" class="pic">
        </div>
      </div>
    </section>

    <section class="contact">
      <div class="contact__content">
        <div class="contact__card">
          <h2>КОНТАКТЫ</h2>
        </div>

        <div class="contact__map">
          map
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer__content">

      <div class="footer__field">
        <img src="/img/ЗОЛОТО.png" class="img__logo">
      </div>
      <div class="footer__info">
        <div class="footer__card">
          <h2 class='block__price'><a href='#price' style='color: rgb(47, 46, 46)' class="text">Цены</a></h2>

          <h2 class='block__info'><a href="#info" style="color: rgb(47, 46, 46)" class="text">О нас</a></h2>

          <h2 class='block__reviews'><a href="#reviews" style="color: rgb(47, 46, 46)" class="text">Отзывы</a></h2>

          <h2 class='block__contact'><a href="#contact" style="color: rgb(47, 46, 46)" class="text">Контакты</a></h2>

        </div>
      </div>
    </div>

    </div>
  </footer>
</body>
{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}