<body>
  {{> header}}


  <div class='block'>

    <h2 class='block__price'><a href='#system' style='color: rgb(47, 46, 46)' class="text">Цены</a></h2>

    <h2 class='block__info'><a href="#info" style="color: rgb(47, 46, 46)" class="text">О нас</a></h2>

    <h2 class='block__reviews'><a href="#reviews" style="color: rgb(47, 46, 46)" class="text">Отзывы</a></h2>

    <h2 class='block__contact'><a href="#contact" style="color: rgb(47, 46, 46)" class="text">Контакты</a></h2>

  </div>

  <main>
    <div>
      <a class="button bottom right" href="http://dikidi.net/754169" target="_blank">
        <div class="buttonBackground"></div>
        <div class="buttonWave" style="border-color: rgb(190, 208, 224)"></div>

        <div class="buttonText">Онлайн запись</div>
      </a>
    </div>


    <section class='form form-big form-img'>

      <div class='form__content'>
        <h1 class='form__title'>СТУДИЯ НАРАЩИВАНИЯ, ЛАМИНИРОВАНИЯ
          РЕСНИЦ
          <br />
          И
          <br />
          ОФОРМЛЕНИЯ БРОВЕЙ
        </h1>
        <div class='form__description'>
          <em>С ПРЕМИАЛЬНЫМ СЕРВИСОМ</em>
        </div>
      </div>

    </section>

    <section class='service'>
      <div class='service__text'>
        <span class='service__title'>УСЛУГИ, КОТОРЫЕ МЫ
          ПРЕДОСТАВЛЯЕМ ГОСТЯМ</span>
      </div>
      <div class='service__content'>
        <div class='service__titles__eye'>
          <a href="/eyelashes" class='service__eye' style="transform: translateY(600px)" target="_blank">РЕСНИЦЫ</a>
        </div>

        <div class='service__title__brows '>
          <a href="/brows" class='service__brows' style="transform: translateY(600px)" target="_blank">БРОВИ</a>
        </div>
      </div>
      </div>
    </section>

    <section class="system" id="system">
      <spam class="system__title">
        СИСТЕМА ЛОЯЛЬНОСТИ
      </spam>
      <div class="sale">
        <div class="sale__list">
          <div class="sale__list__content">
            <div class="list__title"><a class="">15%</a></div>

            <div class="list__text">
              <span>НА 6-Е ПОСЕЩЕНИЕ</span>
            </div>
          </div>

          <div class="sale__list__content">
            <div class="list__title">10%</div>

            <div class="list__text">
              <span>СКИДКА ИМЕНИННИКА</span>
            </div>
          </div>

          <div class="sale__list__content">
            <div class="list__title">30%</div>

            <div class="list__text">
              <span>ПО АКЦИИ "ЗНАКОМСТВО С МАСТЕРОМ"</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="info" id="info">
      <div class="info__block">
        <div class="info__card">
          <img src="/fav/image 6.png" class="icon">
          <div style="font-size: 20px; font-style: italic">КОФЕ И ЧАЙ</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 9.png" class="icon">
          <div style="font-size: 20px; font-style: italic">КРЕСЛО-РЕКЛАЙНЕР</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 7.png" class="icon">
          <div style="font-size: 20px; font-style: italic">ОРТОПЕДИЧЕСКИЕ МАТРАСЫ "ВОЛНА"</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 1.png" class="icon">
          <div style="font-size: 20px; font-style: italic">СТЕРИЛЬНОСТЬ</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 8.png" class="icon">
          <div style="font-size: 20px; font-style: italic">ВЫГОДНАЯ СИСТЕМА ЛОЯЛЬНОСТИ</div>
        </div>

        <div class="info__card">
          <img src="/fav/image 2.png" class="icon">
          <div style="font-size: 20px; font-style: italic">ГАРАНТИЯ КАЧЕСТВА И РАБОТА НА РЕЗУЛЬТАТ</div>
        </div>
      </div>
    </section>

    <section class="supervisor">
      <div class="supervisor__card">
        <div class="supervisor__title" style="font-style: italic">Здравствуйте, меня зовут Изабелла Нажиб. Я являюсь
          руководителем
          студии-школы
          LBM. С радостью приглашаю Вас в студтию оформления вгляда. Политика моей студии нацелена только на
          качественное предоставление услуг и премиальный сервис.Мы с большой любовью относимся к своему делу и дорожим
          каждым клиентом. Наша команда всегда встретит Вас с улыбкой и учтет все Ваши пожелания</div>
        <div class="supervisor__pic">
          <img src="/img/supervisor.png" class="pic">
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="contact__content">
        <div class="contact__card">
          <h2>КОНТАКТЫ</h2>
        </div>

        <div class="contact__map">
          map
        </div>
      </div>
    </section>
  </main>

  {{> footer}}

</body>