<header>
    <div class='header'>
        <div class='header__content'>

            <div class='header__link'>
                <a href='https://www.instagram.com/lbm_studio_simf/' class="image__link" target="_blank">
                    <img src='/fav/image 12.png' class="icon__link" />
                </a>

                <a href='https://wa.me/79787097135/' text='Здравствуйте' class="image__link" target="_blank">
                    <img src='/fav/image 11.png' class="icon__link" />
                </a>
            </div>

            <div>
                <img src='/img/ЗОЛОТО.png' class='header__logo' />
            </div>

            <div>
                <p class='header__description'>адрес</p>
                <p class='header__description'>телефон</p>
            </div>
        </div>


    </div>



</header>