<footer class="footer">
    <div class="footer__content">
        <div class="footer__field">
            <img src="/img/ЗОЛОТО.png" class="img__logo">
        </div>
        <div class="footer__info">
            <div class="footer__card">
                <h2 class='block__price'><a href='#price' style='color: rgb(47, 46, 46)' class="text">Цены</a></h2>

                <h2 class='block__info'><a href="#info" style="color: rgb(47, 46, 46)" class="text">О нас</a></h2>

                <h2 class='block__reviews'><a href="#reviews" style="color: rgb(47, 46, 46)" class="text">Отзывы</a>
                </h2>

                <h2 class='block__contact'><a href="#contact" style="color: rgb(47, 46, 46)" class="text">Контакты</a>
                </h2>
            </div>
        </div>
    </div>
    </div>
</footer>