<footer class="footer">
    <div class="footer__content">
        <div class="footer__field">
            <img src="/img/ЗОЛОТО.png" class="img__logo">
        </div>
        <div class="footer__info">
            <div class="footer__card">
                <h2 class='link'><a href="/reviews" style="color: rgb(47, 46, 46)" class="text"
                        target="_blank">Отзывы</a>
                </h2>
            </div>
        </div>
    </div>
    </div>
</footer>