{{!--

<body>
    {{> header}}

    <main class="main">
        {{> button}}
        <section class="section">
            <form class="form">
                <div>
                    <div class="build">

                        <div class="build__content">
                            <a href="/base-brows" class="link" style="transform: translateY(600px)" target="_blank">
                                <button class="build__button">
                                    <div class="build__button-text1">Базовые процедуры<img src="/img/transition.png"
                                            width="20px" height="32px" class="img">
                                    </div>
                                </button></a>
                        </div>


                        <div class="build__content">
                            <a href="/spa-brows" class="link" style="transform: translateY(600px)" target="_blank">
                                <button class="build__button">
                                    <div class="build__button-text2">Окрашивание <img src="/img/transition.png"
                                            width="20px" height="32px" class="img">
                                    </div>
                                </button></a>
                        </div>

                        <div class="build__content">
                            <a href="/spa-brows" class="link" style="transform: translateY(600px)" target="_blank">
                                <button class="build__button">
                                    <div class="build__button-text3">Спа для бровей <img src="/img/transition.png"
                                            width="20px" height="32px" class="img">
                                    </div>
                                </button></a>
                        </div>

                    </div>
                </div>
            </form>
        </section>
    </main>

    {{> footer}}
</body> --}}

<body>
    {{> header}}

    <main class="main">

        {{> button}}
        <section class="section">
            <div class="build">

                <div class="build__content">
                    <a href="/base-brows" class="link" style="transform: translateY(600px)" target="_blank">
                        <button class="build__button">
                            <div class="build__button-text1">Базовые процедуры<img src="/img/transition.png"
                                    width="20px" height="32px" class="img">
                            </div>
                        </button></a>
                </div>

                <div class="build__content">
                    <a href="/coloring-brows" class="link" style="transform: translateY(600px)" target="_blank">
                        <button class="build__button">
                            <div class="build__button-text2">Окрашивание бровей<img src="/img/transition.png"
                                    width="20px" height="32px" class="img">
                            </div>
                        </button></a>
                </div>


                <div class="build__content">
                    <a href="/spa-brows" class="link" style="transform: translateY(600px)" target="_blank">
                        <button class="build__button">
                            <div class="build__button-text3">Спа для бровей<img src="/img/transition.png" width="20px"
                                    height="32px" class="img">
                            </div>
                        </button></a>
                </div>

            </div>
            </div>
        </section>
    </main>
    {{>footer}}
</body>