<body>
    {{> header}}

    <main class="main">
        <section class="section">
            <form class="form">
                <div>
                    <div class="build">

                        <div class="build__content">
                            <a href="/build-eyelashes" class="link" style="transform: translateY(600px)"
                                target="_blank">
                                <button class="build__button">
                                    <div class="build__button-text1">Базовые процедуры<img src="/img/transition.png"
                                            width="20px" height="32px" class="img">
                                    </div>
                                </button></a>
                        </div>

                        <div class="build__content">
                            <a href="/removal" class="link" style="transform: translateY(600px)" target="_blank">
                                <button class="build__button">
                                    <div class="build__button-text2"><img src="/img/transition.png" width="20px"
                                            height="32px" class="img">
                                    </div>
                                </button></a>
                        </div>

                        <div class="build__content">
                            <a href="/coloring" class="link" style="transform: translateY(600px)" target="_blank">
                                <button class="build__button">
                                    <div class="build__button-text3">Окрашивание <img src="/img/transition.png"
                                            width="20px" height="32px" class="img">
                                    </div>
                                </button></a>
                        </div>

                        <div class="build__content">
                            <a href="/spa" class="link" style="transform: translateY(600px)" target="_blank">
                                <button class="build__button">
                                    <div class="build__button-text4">Спа для ресниц <img src="/img/transition.png"
                                            width="20px" height="32px" class="img">
                                    </div>
                                </button></a>
                        </div>

                    </div>
                </div>
            </form>
        </section>
    </main>

    {{> footer}}
</body>