<body>
    {{> header}}

    <main class="main">
        <section class="section">
            <form class="form">
                <div>
                    Тут буде текст
                </div>
            </form>
        </section>
    </main>

    {{> footer}}
</body>