<body>
    {{> header}}

    <main class='main'>

        {{> button}}
        <section class='section'>

            <div class='block'>
                <h1 class='block__title'>Наращивание ресниц</h1>
                <h3 class="block__subtitle">сюда сначала весь прайс</h3>

                <div class='block__content'>
                    <div class="block__pic">
                        <h2 class="block__subpic">экспресс наращивание</h2>
                        <img src='/img/express.png' class='img' weight="300px" height="450px" />
                    </div>

                    <div class="block__text">Наращивание растушевкой ( не на все ресницы) пучками 3-4д за 1.30.
                        <br>
                        Такая процедура позволяет сэкономить ваше время, при этом получая выразительный взгляд.
                        <br>
                        Стоимость 2000р
                    </div>
                </div>


                <div class='block__content'>
                    <div class="block__pic">
                        <h2 class="block__subpic">Уголки</h2>
                        <img src='/img/уголки.png' class='img' weight="350px" height="450px" />
                    </div>

                    <div class="block__text">Наращивание ресниц на внешний угол глаза в объеме 2д, с переходом на
                        середину глаза в классическом объеме. Выглядит максимально натурально.
                        <br>
                        Время выполнения 60
                        минут.
                        <br>
                        Стоимость 1700р топ мастер, 2000р леш стилист.
                    </div>

                </div>

                <div class='block__content'>
                    <div class="block__pic">
                        <h2 class="block__subpic">Классический объем</h2>

                        <img src='/img/классический объем 2.png' class='img' weight="350px" height="450px" />

                        <li class="img" src="/img/classic.png">

                        </li>



                    </div>
                    <div class="block__text">Наращивание одной искуственной ресницы на одну свою родную.
                        <br>
                        При таком
                        способе наращивания выглядит как эффект накрашенных тушью, максимально естесвенно, но при этом
                        выразительно.
                        <br>
                        Время выполнения 1.30.
                        <br>
                        Стоимость топ мастер 1700, леш стилист 2000.
                    </div>
                </div>

                <div class='block__content'>
                    <div class="block__pic">
                        <h2 class="block__subpic">2D объем</h2>
                        <img src='/img/2д 2.png' class='img' weight="250px" height="450px" />
                    </div>
                    <div class="block__text">Наращивание двух искуственных тончайших ресниц на одну свою родную.
                        <br>
                        Создается дополнительная густота ресничного ряда, но при этом сохраняется натуральность.
                        <br>
                        Время
                        выполнения 2-2.30 в зависимости от густоты родных ресниц.
                        <br>
                        Стоимость 2000 топ мастер 2300 леш
                        стилист
                    </div>
                </div>

                <div class='block__content'>
                    <div class="block__pic">
                        <h2 class="block__subpic">3D объем</h2>
                        <img src='/img/уголки.png' class='img' weight="100px" height="200px" />
                    </div>
                    <div class="block__text">Наращивание 3х искуственных ресниц, на одну свою родную.
                        <br>
                        Такое наращивание
                        выглядит ярко, и эффектно. Так же подойдет для тех, у кого не большая природная густота ресниц.
                        <br>
                        Время выполнения 2-2.30.
                        <br>
                        Стоимость 2200 топ мастер, 2500 леш стилист
                    </div>
                </div>

                <div class='block__content'>
                    <div class="block__pic">
                        <h2 class="block__subpic">Гламурный объем</h2>
                        <img src='/img/уголки.png' class='img' weight="100px" height="200px" />
                    </div>
                    <div class="block__text">Наращивание, при котором на каждую родную ресницу ставится пучок из 4-10.
                        <br>
                        Процедура добавляет ресницам значильный объем и в итоге Вы получаете максимально яркий взгляд.
                        <br>
                        Время выполнения 2.30
                        <br>
                        Стоимость 2700 топ мастер, 3000 леш стилист
                        .
                    </div>
                </div>

                <div class='block__content'>
                    <div class="block__pic">
                        <h2 class="block__subpic">Наращивание трендовых эффектов:
                            <br>Мокрый, Ким, Кайли, Аниме
                        </h2>
                        <img src='/img/уголки.png' class='img' weight="100px" height="200px" />
                    </div>
                    <div class="block__text"> Время выполнения 2ч

                    </div>
                </div>
            </div>
        </section>
    </main>

    {{> footer}}
</body>